# Python
*.pyc
*.log
__pycache__/

# Dev
logs/
config.json
*.db
.env

# Build
build/
dist/
*.egg-info/

# Tests
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
junit/
.sonar/
.scannerwork/

# IDE
.vscode/

# Ignore SSL
certs/
*.pem
*.key